ion-toolbar{
  --background: var(--color-primary);
  color: var(--color-grey);
}

.text {
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
}
ion-header {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-menu-button {
    font-size: 32px;
    color: var(--color-grey);
  }
  ion-icon {
    font-size: 32px;
    color: var(--color-grey);
    margin: 0 auto;
  }
  ion-avatar{
    width: 40px;
    height: 40px;
    margin-right: 16px;
}
  #icono {
    position: absolute;
    right: 50px;
  }
  .star {
    font-size: 28px;
    margin-left: 8px;
    color: var(--color-grey);
    margin-right: 16px;
  }
}


ion-content{
  // text-align: center!important;
  --background: var(--color-grey) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  ion-searchbar{
    --background:white;
    --icon-color:var(--color-primary);
    --box-shadow:2px 2px 3px -1px rgba(0,0,0,0.21);   
  }
  ion-row{
    --background:var(--color-grey);
    ion-col{
      div{
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        img {
          margin-top: 1vw;
          width: 95%;
          height: 192px;
          object-fit: cover;
          object-position: center center;
        }
        ion-text{
          color:var(--color-primary);
          margin: 0 auto;
          h4{
            margin: 0px;
            overflow: hidden;
            background-color: #29346252;
          }
        }
      }
    }
  }
}


