<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="11">
      <div>
        <img
          src="https://a.wattpad.com/cover/136601520-352-k976369.jpg"
          alt=""
        />
      </div>
      <div>
        <p>Elemento uno</p>
        <ion-icon name="sync-outline"></ion-icon>
        <p>Elemento dos</p>
      </div>
      <div>
        <img
          src="https://a.wattpad.com/cover/141607343-288-k799703.jpg"
          alt=""
        />
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="11">
      <div>
        <img
          src="https://a.wattpad.com/cover/136601520-352-k976369.jpg"
          alt=""
        />
      </div>
      <div>
        <p>Elemento uno</p>
        <ion-icon name="sync-outline"></ion-icon>
        <p>Elemento dos</p>
      </div>
      <div>
        <img
          src="https://a.wattpad.com/cover/141607343-288-k799703.jpg"
          alt=""
        />
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="11">
      <div>
        <img
          src="https://a.wattpad.com/cover/136601520-352-k976369.jpg"
          alt=""
        />
      </div>
      <div>
        <p>Elemento uno</p>
        <ion-icon name="sync-outline"></ion-icon>
        <p>Elemento dos</p>
      </div>
      <div>
        <img
          src="https://a.wattpad.com/cover/141607343-288-k799703.jpg"
          alt=""
        />
      </div>
    </ion-col>
  </ion-row>
</ion-content>
