<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    <ion-title class="titulo">Mis favoritos</ion-title>
    <ion-avatar slot="end" [routerLink]="['/perfil']">
      <img src="{{usuario.foto}}">
    </ion-avatar>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-row>
    <ion-col size="6" *ngFor="let item of favoritos">
      <ion-card>
        <div>
          <ion-icon name="close-circle" (click)="eliminarFavorito(item.favoritos_id)"></ion-icon>
          <img src="{{item.imagen}}" (click)="mostrarInfo(item.articulo_id)" alt=""/>
          <ion-text>
            <h4>{{item.nombre}}</h4>
          </ion-text>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
  

