<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" class="flecha" defaultHref="/home"></ion-back-button>
    <ion-title *ngFor="let i of articulo">{{i.nombre}}</ion-title>
    <ion-avatar slot="end" [routerLink]="['/perfil']">
      <img
        src="{{usuario.foto}}"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngFor="let i of articulo">

     <!-- información de un artículo -->
    <ion-row class="info">
      <ion-col size="12">
        <img class="foto" src="{{i.imagen}}" alt="">
        <h2><strong class="nombre">{{i.nombre}}</strong></h2>
        <h5><strong>Antigüedad: </strong>{{i.antiguedad}}</h5>
        <h5><strong>Estado: </strong>{{i.estado}}</h5>
        <h5 class="texto">{{i.descripcion}}</h5>
        <ion-icon class="heart" name="heart" (click)="crearfavorito(i.articulo_id)"></ion-icon>
      </ion-col>
    </ion-row>

     <!-- botón de solicitar producto para el cambio -->
    <ion-col size="12">
      <ion-button expand="full" shape="round" (click)="crearPeticion(i.articulo_id)">Solicitar cambio</ion-button>
    </ion-col>

    <ion-item-divider></ion-item-divider>

    <ion-item >
      <ion-avatar slot="start" (click)="verUsuario(i.usuario_id)">
        <img
          src="{{i.foto}}">
      </ion-avatar>
      <div>
        <ion-title>{{i.nick}}</ion-title>
        <ion-icon class="star" name="star"></ion-icon>
        <ion-text>{{i.valoraciones}}/5</ion-text>
      </div>
      <ion-icon name="chatbubbles" slot="end" [routerLink]="['/chat',i.usuario_id]"></ion-icon>
    </ion-item>
  </div>
</ion-content>