.card{
    margin-top: 12px;
}

ion-label{  
  color: var(--color-primary);
  text-align: start;
  font-weight: bold;
}
ion-item{
  color:  var(--color-primary);
  text-align: start;   
  font-size: 14px;
  font-style: oblique;
}
.articulo{  
  margin: 0 auto;
  text-align: center;

}





